/*Common Styles*/
* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
    background: #000000;
    color: #ffffff;
}

/*Main Styles*/
.main-content {
    height: calc(100vh - 2rem);
    margin: 0 2rem 2rem;
    display: grid;
    gap: 1vw 1vh;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-auto-rows: minmax(40px, 1fr);
    grid-template-areas:
    "value-wrapper value-wrapper value-wrapper value-wrapper"
    "value-wrapper value-wrapper value-wrapper value-wrapper"
    "all-clear-btn invert-btn percent-btn div-btn"
    "seven-btn eight-btn nine-btn mul-btn"
    "four-btn five-btn six-btn minus-btn"
    "one-btn two-btn three-btn plus-btn"
    "zero-btn zero-btn comma-btn equal-btn"
}

.value-wrapper {
    font-size: 8.5rem;
    margin: 0 1rem 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: value-wrapper;
}

/*Button Styles*/
.btn {
    border-radius: 20vw;
    font-size: 5rem;
    border: 0;
    user-select: none;
    cursor: pointer;
}

.light-gray {
    background: #a5a5a5;
    color: #000000;
}

.light-gray:hover,
.light-gray:active {
    background: #d9d9d7;
}

.gray {
    background: #343434;
    color: #ffffff;
}

.gray:hover,
.gray:active {
    background: #737373;
}

.orange {
    background: #fe9e09;
    color: #ffffff;
}

.orange:hover,
.orange:active {
    background: #ffffff;
    color: #fe9e09;
}

.all-clear-btn {
    grid-area: all-clear-btn;
}

.invert-btn {
    grid-area: invert-btn;
}

.percent-btn {
    grid-area: percent-btn;
}

.div-btn {
    grid-area: div-btn;
}

.seven-btn {
    grid-area: seven-btn;
}

.eight-btn {
    grid-area: eight-btn;
}

.nine-btn {
    grid-area: nine-btn;
}

.mul-btn {
    grid-area: mul-btn;
}

.four-btn {
    grid-area: four-btn;
}

.five-btn {
    grid-area: five-btn;
}

.six-btn {
    grid-area: six-btn;
}

.minus-btn {
    grid-area: minus-btn;
}

.one-btn {
    grid-area: one-btn;
}

.two-btn {
    grid-area: two-btn;
}

.three-btn {
    grid-area: three-btn;
}

.plus-btn {
    grid-area: plus-btn;
}

.zero-btn {
    grid-area: zero-btn;
}

.comma-btn {
    grid-area: comma-btn;
}

.equal-btn {
    grid-area: equal-btn;
}

/*Responsiveness Styles*/
@media (max-width: 768px) {
    .btn {
        font-size: 3.5rem;
    }
}

/*Responsiveness Styles*/
@media (max-width: 425px) {
    .btn {
        font-size: 2rem;
    }
}

@media (max-height: 768px) {
    .value-wrapper {
        font-size: 4.5rem;
    }

    .btn {
        font-size: 2em;
    }
}
